body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {text-decoration: none}
ul, ol {list-style-type: none;}
button {cursor: pointer;}





/* #region Heder */

.header-page {}

.nav-list :hover,
.nav-list :focus {
color: #404bbf;
}

.address {
    font-style: normal
}
.address :hover,
.address :focus {
color: #404bbf;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.logo-style 
{
    color: #2e2f42;
}

.nav-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455
}

.nav-item :hover,
.nav-item :focus {
    color: #404bbf;
    width: 48px;
    height: 52px;
}

/* #endregion */


/* #region Hero */
.hero {
    background-color: #2e2f42;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff 
}

.hero-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em
        color: #ffffff; 
        background-color: #4d5ae5;
}

.hero-btn :hover,
.hero-btn :focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region body */

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}


.our-team {}

.team-list {}
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.our-portfolio {
    background-color: #F4F4FD
}

.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 

}
.portfolio-item {
    background-color: #FFFFFF
}

.title-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}




/* #endregion */

/* #region Footer */
.footer {
    background-color: #2e2f42;
}

.logo-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5
}

.logo-footer-style{
    color: #F4F4FD;
}

/* #endregion */


